.btn {
    background: var(--color-light-blue);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    background: var(--color-light-blue);
}

.btn:not(.inactive):not(.pressed):hover {
    background: #3891b1d1;
}

.inactive {
    background: var(--color-sky-blue);
}

.pressed {
    background: var(--color-dark-blue);
}
