.container {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
}

.sidebar {
    background: var(--color-White-100);
    max-width: 376px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
}

.content {
    padding-top: 133px;
    padding-bottom: 122px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    max-width: 642px;
    width: 100%;
    font-size: 32px;
    margin-bottom: 40px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    max-width: 842px;
    width: 100%;
    grid-row-gap: 32px;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    .burger {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 100;
    }

    .title {
        text-align: center;
        font-size: 18px;
    }

    .content {
        padding-top:132px;
        padding-bottom: 24px;
        flex: 1;
        align-items: center;
    }

    .options {
        grid-template-columns: 1fr;
        grid-row-gap: 8px;
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        background: var(--color-Black-5);
        height: 100%;
        z-index: 10;
        justify-content: center;
        max-width: 100%;
    }

    .sidebarIsOpen {
        display: none;
    }
}
