:root {
  --color-dark-blue: #003B63;
  --color-blue: #004974;
  --color-sky-blue: #1E6A8E;
  --color-light-blue: #3891B1;
  --color-brown: #A34716;
  --color-orange: #F8A363;
  --color-yellow: rgba(211, 209, 0, 1);
  --color-light-yellow: rgba(211, 209, 0, 0.03);

  --color-Black-100: rgba(28, 28, 33, 1);
  --color-Black-40: rgba(208, 208, 216, 1);
  --color-Black-5: rgba(245, 245, 247, 1);
  --color-White-100: rgba(255, 255, 255, 1);
  --color-Green-100: rgba(71, 216, 103, 1);
  --color-Green-5: rgba(230, 250, 234, 1);
  --color-Red-100: rgba(236, 98, 89, 1);
  --color-Red-5: rgba(253, 238, 237, 1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  text-transform: none;
  border-radius: 12px;
  border: 0;
  padding: 1.063rem 0.75rem;
  line-height: 1.5;
  min-width: 288px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-White-100);
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

h1 {
  color: var(--color-White-100);
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
