.root {
    color: var(--color-light-blue);
    padding-left: 68px;
    padding-right: 68px;
}

.text {
    padding: 8px 0;
    display: block;
}

.next {
    color: var(--color-Black-100);
}

.disabled {
    color: var(--color-Black-40);
}

@media (max-width: 768px) {
    .text {
        padding: 7px 0;
    }

    .root {;
        padding-left: 40px;
        padding-right: 40px;
    }
}
